<template>
  <div class="container">
    <Form @addPost="addPost($event)" />
  </div>
</template>

<script>
import Form from '@/components/Form.vue'
import Products from '~/modules/Products'
export default {
  components: {
    Form,
  },
  methods: {
    addPost(event) {
      return Products.addPost(this, event)
        .then((post) => {
          this.$store.commit('ADD_POST', post)
          this.$router.push('/')
        })
        .catch((e) => {
          console.log(e)
        })
    }
  },
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
