<template>
  <div class="flex flex-col">
    <div class="flex mb-10 justify-end">
      <svg
              @click="filterSmall()"
              height="35px" width="30px" aria-hidden="true"
              focusable="false" data-prefix="fas" data-icon="sort-numeric-up"
              class="mr-5 svg-inline--fa fa-sort-numeric-up fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"><path :fill="small ? 'currentColor' : 'gray'" d="M330.17 258.91a79 79 0 0 0-55 54.17c-14.27 51.05 21.19 97.77 68.83 102.53a84.07 84.07 0 0 1-20.85 12.91c-7.57 3.4-10.8 12.47-8.18 20.34l9.9 20c2.87 8.63 12.53 13.49 20.9 9.91 58-24.76 86.25-61.61 86.25-132V336c-.02-51.21-48.4-91.34-101.85-77.09zM352 356a20 20 0 1 1 20-20 20 20 0 0 1-20 20zM304 96h16v64h-16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16h-16V48a16 16 0 0 0-16-16h-48a16 16 0 0 0-14.29 8.83l-16 32A16 16 0 0 0 304 96zM107.31 36.69a16 16 0 0 0-22.62 0l-80 96C-5.35 142.74 1.78 160 16 160h48v304a16 16 0 0 0 16 16h32a16 16 0 0 0 16-16V160h48c14.21 0 21.38-17.24 11.31-27.31z">
      </path></svg>
      <svg
              @click="filterLarge()"
              height="35px" width="30px" aria-hidden="true"
              focusable="false" data-prefix="fas" data-icon="sort-numeric-down-alt"
              class="svg-inline--fa fa-sort-numeric-down-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"><path :fill="large ? 'currentColor' : 'gray'" d="M176 352h-48V48a16 16 0 0 0-16-16H80a16 16 0 0 0-16 16v304H16c-14.19 0-21.36 17.24-11.29 27.31l80 96a16 16 0 0 0 22.62 0l80-96C197.35 369.26 190.22 352 176 352zm224 64h-16V304a16 16 0 0 0-16-16h-48a16 16 0 0 0-14.29 8.83l-16 32A16 16 0 0 0 304 352h16v64h-16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h96a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zM330.17 34.91a79 79 0 0 0-55 54.17c-14.27 51.05 21.19 97.77 68.83 102.53a84.07 84.07 0 0 1-20.85 12.91c-7.57 3.4-10.8 12.47-8.18 20.34l9.9 20c2.87 8.63 12.53 13.49 20.9 9.91 58-24.77 86.25-61.61 86.25-132V112c-.02-51.21-48.4-91.34-101.85-77.09zM352 132a20 20 0 1 1 20-20 20 20 0 0 1-20 20z">
      </path></svg>
    </div>
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div
          class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  ID
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  User Id
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Title
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Body
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr v-for="(product, key) in products" :key="key">
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ product.id }}
                </td>
                <td>
                  {{ product.userId }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ product.title }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {{ product.body }}
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                >
                  <nuxt-link tag="a" :to="`/update-product/${product.id}`" class="text-indigo-600 hover:text-indigo-900"
                  >Edit</nuxt-link>
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium"
                >
                  <button @click="deletePost(product.id)" class="text-indigo-600 hover:text-indigo-900"
                  >Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Products from "~/modules/Products";

export default {
  data() {
    return {
      large: false,
      small: true
    }
  },
  computed: {
    products() {
      return this.$store.getters.getProducts;
    },
  },
  methods: {
    filterLarge() {
      this.large = true
      this.small = false
      this.products.sort((a, b)=> {
        return  b.id -  a.id
      })
    },
    filterSmall() {
      this.large = false
      this.small = true
     this.products.sort((a, b)=> {
        return  a.id -  b.id
      })
    },
    deletePost(id) {
      return Products.deletePost(this, id)
      .then(()=> {
        let post = []
        this.products.map(val => {
          if (val.id !== id) {
            post.push(val)
          }
        })
        this.$store.commit('REMOVE_POST', post)
      })
    }
  }
};
</script>

<style lang="scss" scoped></style>
